@font-face {
    font-family: "futura-dl";
    src: url('Futura_ICG.ttf') format('truetype');
}

html {
    height: 100%;
}
body {
    height: 100%;
    margin: 0px;
    font-family: "futura", "futura-dl";
    font-size: 16pt;
    color: #c80058;
    background-color: #1c1c1c;
}
a, a:visited, a:link {
    color: #c80058;
}
input[type="radio"] {
    position: relative;
}
input[type="radio"]:focus {
    outline-style: none;
}
input[type="radio"]::after {
    content: "â—";
    display: block;
    position: absolute;
    top: 0px;
    left: -1px;
    height: 14px;
    width: 14px;
    border-radius: 1px;
    box-shadow: 1px 1px 1px #60686c inset;
    background-color: #e8f0f4;
    font-size: 0px;
    color: #c80058;
    line-height: 8px;
    text-indent: -7px;
    overflow: hidden;
    transition: font-size 0.5s;
}
input[type="radio"]:checked::after {
    font-size: 50px;
}
::selection {
    color: #6000f0;
}
.banner {
    top: 0px;
    left: 0px;
    right: 0px;
    padding: 12px;
    font-size: 28pt;
    font-weight: bold;
    text-align: center;
    background-color: #1c1c1c;
}
.bottom {
    position: fixed;
    bottom: 0px;
    left: 0px;
    right: 0px;
    height: 16px;
    font-size: 8pt;
    background-color: #1c1c1c;
    white-space: pre-wrap;
}
.scale-box { /* scales incrementally relative to the screen size; centered in container */
    width: 94%;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 32px;
    transition: width 0.2s;
}
#video-frame {
    position: absolute;
    width: 100%;
    height: 100%;
    padding: 0;
    border-style: none;
    border-width: 0;
    margin: 0;
}
#video-embed-frame {
    width: 100%;
    height: 400px;
    padding: 0;
    border-style: none;
    border-width: 0;
    margin: 0;
}
#video-container {
    display: none;
}
.video-embed {
    width: 100%;
    height: 60vw;
    border: 0;
}
.content-box { /* curved box with padding around text; fills container */
    position: relative;
    padding: 16px;
    border-radius: 8px;
    box-shadow: 2px 2px 6px #60686c inset;
    background-color: #e0e8ec;
}
.result-box { /* each result box has one result inside it; they're meant to be listed */
    position: relative;
    left: 6px;
    padding: 6px;
    padding-left: 10px;
    margin: 4px;
    border-radius: 4px;
    background-color: #f0f8fc;
    cursor: pointer;
    animation: bounce-in;
    animation-duration: 1.2s;
    animation-timing-function: linear;
}
.result-box.prevnext {
    height: 42px;
    padding: 6px;
}
.result-box.tvshow, .result-box.movie{
    background-image: url("img/tv-show.svg");
    background-repeat: no-repeat;
    background-size: 2em 1.5em;
    background-position: right;
}
.result-box.tvshow { background-image: url("img/tv-show.svg"); }
.result-box.movie { background-image: url("img/movie.svg"); }

.alert-spacer, .bookmark-spacer { /* wraps around the popup box to center it */
    position: relative;
    height: 0;
    margin-left: auto;
    margin-right: auto;
}
.alert-spacer {
    width: 400px;
}
.alert-popup, .bookmark-popup, .menu-popup { /* boxes that slide in from the top */
    position: fixed;
    padding: 16px;
    border-radius: 4px;
    box-shadow: 4px 4px 16px #1c1c1c;
    font-size: 16pt;
    background-color: #e0e8ec;
}
.alert-popup { /* info box that slides in from the top and back out */
    top: -140px;
    height: 100px;
    width: 400px;
    text-align: center;
    z-index: 2;
    transition: top 0.5s;
}
.long { /* longer messages like "update necessary ..." as opposed to "text copied" */
    height: 200px;
}
.bookmark-popup { /* box containing bookmarks */
    height: 400px;
    top: -640px;
    left: 60px;
    right: 60px;
    text-align: left;
    overflow: scroll;
    z-index: 1;
    transition: top 1.0s;
}
.menu-popup { /* box containing menu */
    height: 400px;
    top: -640px;
    left: 60px;
    right: 60px;
    font-size: .5em;
    text-align: left;
    overflow: scroll;
    z-index: 1;
    transition: top 0.8s;
}
.popup-visible { /* additional class for menu popup and alert popup */
    top: 20px;
}
.invisible-box { /* invisible box with text in it to be programatically selected, then copied */
    position: fixed;
    bottom: -2pt;
    left: 0px;
    font-size: 2pt; /* can't be display:none or visibility:hidden because you can't select those */
}
.invisible-frame {
    position: fixed;
    bottom: -200px;
    left: -200px;
    width: 200px;
    height: 200px;
}
.image-mask { /* mask for rolling image */
    position: relative;
    display: inline-block;
    height: 90px;
    width: 270px;
    overflow: hidden;
}
.image-roll { /* container for rolling image */
    position: absolute;
    left: -270px;
    width: 560px;
}
.image-roll:hover {
    animation: roll-logo;
    animation-duration: 5.0s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
}
.close-menu {
    position: absolute;
    top: 4px;
    right: 4px;
    height: 20px;
    width: 20px;
    font-size: 16pt;
    color: #909090;
    line-height: 12px;
    text-align: center;
    cursor: pointer;
}
#video-fill {
    position: absolute;
    width: 100%;
    height: 100%;
}
.container-fill {
    position: absolute;
    width: 100%;
    height: 100%;
    margin: 0;
    border: 0;
    padding: 0;
}
/* input box */
input.search {
    position: relative;
    width: 400px;
    right: 0px;
    margin: 4px 0px 0px 4px;
    border-radius: 2px;
    font-size: 16pt;
    color: #401020;
}
input.search:focus {
    outline-color: #b01030;
}
/* buttons */
button {
    cursor: pointer;
}
button:focus {
    outline-style: none;
}
button:active {
    border-style: solid;
    border-color: #c80058;
}
button:hover::after { /* hover text */
    position: absolute;
    top: -20px;
    padding: 2px 4px 0px 4px;
    border-radius: 2px;
    font-family: "futura", "futura-dl";
    font-size: 14pt;
    color: #c80058;
    background-color: #f0f8fc;
    opacity: .9;
    white-space: nowrap;
    z-index: 1;
}
button.search { /* button to initiate search */
    position: relative;
    top: 5px;
    height: 40px;
    width: 40px;
    padding-top: 0;
    border-width: 3px;
    border-color: #c01050;
    border-radius: 6px;
    font-family: "lucida console", "monaco", "monospace";
    font-size: 32px;
    color: #ffffff;
    background-color: #c80058;
}
button.bookmark-list { /* open the list of bookmarks (which is a feature I have yet to add) */
    position: absolute;
    left: 8px;
    height: 40px;
    width: 40px;
    border-width: 3px;
    border-color: #c01050;
    border-radius: 6px;
    color: #e0e8ec;
    background-color: #c80058;
    background-image: url("img/bookmark-list.svg");
    background-size: 32px;
    visibility: visible;
}
button.back, button.settings, button.check { /* go to previous page */
    position: absolute;
    top: 8px;
    left: 8px;
    height: 40px;
    width: 60px;
    border-width: 3px;
    border-color: #c01050;
    border-radius: 6px;
    font-size: 56px;
    font-weight: bold;
    color: #ffffff;
    background-color: #c80058;
}
button.settings {
    background-image: url("img/settings.svg");
    background-size: 32px;
    background-repeat: no-repeat;
    background-position: center;
    visibility: visible;
}
button.check {
    top: 56px;
    font-size: 20pt;
}
button.embed, button.window, button.download, button.copy { /* 4 stream buttons in a row */
    position: relative;
    height: 30px;
    width: 30px;
    margin: 6px;
    border-width: 3px;
    border-color: #c01050;
    border-radius: 4px;
    color: #e0e8ec;
    background-color: #c80058;
}
button.embed { background-image: url("img/embed.svg"); }
button.embed:hover::after { content: "embed this video in the page"; }
button.window { background-image: url("img/open-in-new.svg"); }
button.window:hover::after { content: "pop-out this video into a new window"; }
button.download { background-image: url("img/download.svg"); }
button.download:hover::after { content: "download this video"; }
button.copy { background-image: url("img/copy-to-clipboard.svg"); }
button.copy:hover::after { content: "copy a link to this video to your clipboard"; }
.arr { /* box to rotate arrow inside button */
    transform: translate(3px, -22px) rotate(90deg);
}
button.prev, button.next {
    height: 30px;
    width: 48px;
    margin: 6px;
    border-width: 3px;
    border-color: #c01050;
    border-radius: 4px;
    font-size: 20pt;
    font-weight: bold;
    color: #ffffff;
    line-height: 10pt;
    background-color: #c80058;
}
button.prev { float: left; }
button.next { float: right; }

img.logo { /* contains logo; expands to width of container */
    float: left;
    width: 270px;
}

iframe[src=""] { /* iframes with unset src are not rendered */
    display: none;
}

.noclick {
    cursor: default;
}
.tryfixed { /* attempt to make this fixed width */
    display: inline-block;
    min-width: 7em; /* about the width of "MyCloud (360p): " */
}

/* smartphone specific styles; basically deprecated */
@media screen and (max-device-width: 4in) { /* smartphone max width = ~4in */
    .scale-box { width: 96%; }
    .content-box { text-align: center; }
    .bottom { height: 32px; font-size: 16pt; }
    input.movie { width: 80%; font-size: 24pt; }
    button.flat { padding-top: 0px; } 
}
/* center things when the window gets small   */
@media screen and (min-device-width: 4in) and (max-width: 660px) {
    .content-box { text-align: center; }
    input.search { width: 80%; right: 8px; }
}
/* for window resizes */
@media screen and (min-device-width: 4in) and (min-width: 768px) { .scale-box { width: 720px; } }
@media screen and (min-device-width: 4in) and (min-width: 1024px) { .scale-box { width: 976px; } }
@media screen and (min-device-width: 4in) and (min-width: 1280px) { .scale-box { width: 1232px; } }

/* result boxes come in from the right */
@keyframes bounce-in {
    0% {left: 720px;}
    28% {left: -18px;}
    40% {left: 30px;}
    56% {left: -3px;}
    76% {left: 15px;}
    100% {left: 6px;}
}
/* logo scrolls right continuously */
@keyframes roll-logo {
    from {left: -270px;}
    to {left: 0px;}
}

/*
COLORS:
  pink:      #c80058 -> text color
  purple:    #6000f0 -> selection
  dark-gray: #1c1c1c -> background color
  red:       #b01030 -> old button color
  light-red: #c01050 -> button outline
  dark-red:  #401020 -> input text
  off-white: #e0e8ec -> content box background
  white:     #f0f8fc -> result box background
  blue:      #4080f0 -> nothing right now
*/
