<!DOCTYPE html>
<html>
<head>
  <meta charset="UTF-8">
  <title>Opcor</title>
  <link rel="stylesheet" href="shiny.css">
  <script type="text/javascript" src="vue.js"></script>
  <script type="text/javascript" src="helper.js"></script>
  <script type="text/javascript" src="controller.js"></script>
  <script type="text/javascript" src="model.js"></script>
</head>
<body>
  <div id="opcor-app">
    <button v-if="state !== STATES.SEARCH" class="back" @click="goBack">
      <div class="arr">&#8623;</div>
    </button>
    <button v-if="state === STATES.SEARCH" class="settings" @click="toggleMenu"></button>

    <div class="banner"> <!-- contains alert popup, menu popup, and Opcor logo -->
      <div class="alert-spacer"> <!-- centers alert -->
        <div class="alert-popup" :class="{ 'popup-visible': alertVisible }">{{ alertText }}</div>
      </div>
      <div class="menu-popup" :class="{ 'popup-visible': menuVisible }">
        <div class="close-menu" @click="slideOutMenu">x</div>
        <h2>Settings</h2>
        <span>There are currently no settings to modify.</span>
      </div>
      <div class="image-mask">
        <div class="image-roll">
          <img class="logo" src="img/opcor-logo.png"/>
          <img class="logo" src="img/opcor-logo.png"/>
        </div>
      </div>
    </div>

    <div class="scale-box"> <!-- always show search bar -->
      <div class="content-box">
        <span>can i watch </span>
        <input type="text" class="search" autofocus @keyup.enter="performSearch" v-model="queryInput">
        <button class="search" @click="performSearch">?</button>
      </div>
    </div>

    <!-- show one of three views based on app state -->

    <div class="scale-box" v-if="state === STATES.SEARCH">
      <div class="content-box">
        <span v-if="justLaunched">search for a movie or a tv show up there ^</span>
        
        <span v-else-if="resultList.length === 0">couldn't find shit</span>
        
        <div v-else>
          <span>are any of these the thing you wanted to watch?</span>
          
          <div v-for="(result, i) in resultList" class="result-box" :class="{ 'movie': result.episodeCount === 0, 'tvshow': result.episodeCount > 0 }" :style="(i%7/10)-0.3 | animationDelay" @click="getEpisodesOrMovie(i)">
            {{ result.title }}
          </div>
          
          <span>if it's not one of those, then either it's not on there, or you fucked up the search terms</span>
        </div>
      </div>
    </div>

    <div class="scale-box" v-if="state === STATES.EPISODES">
      <div class="content-box">
        <span v-if="episodeList.length === 0">looks like this show or movie isn't currently available from any host</span>

        <div v-else>
          <a :href="wikiLink" target="_blank">{{ fullTitle }}</a>

          <div class="result-box" v-for="(episode, i) in episodeList" :style="(i%7/10)-0.3 | animationDelay" @click="getStreams(i)">
            {{ episode.title }}
          </div>
        </div>
      </div>
    </div>

    <div class="scale-box" v-if="state === STATES.STREAMS">
      <div class="content-box">
        <span v-if="streamList.length === 0">looks like this show or movie isn't currently available from any host</span>

        <div v-else>
          <span >{{ fullTitle }}</span>

          <div class="result-box noclick" v-for="(stream, i) in streamList" :style="(i%7/10)-0.3 | animationDelay">
            <span class="tryfixed">{{ stream.name }}: </span><button class="embed" @click="embedVideo(stream.src, stream.type)"></button>
            <a :href="stream.src | windowUrl" target="_blank">
              <button class="window"></button>
            </a>
            <button v-if="stream.type === 'mp4'" class="copy" @click="copyText(stream.src)"></button>
          </div>

          <div v-if="episodeList.length > 1" class="result-box prevnext noclick">
            <button class="prev" v-if="episodeIndex > 0" @click="getStreams(episodeIndex-1)">&larr;</button>
            <button class="next" v-if="episodeIndex < episodeList.length - 1" @click="getStreams(episodeIndex+1)">&rarr;</button>
          </div>
        </div>
      </div>
    </div>

    <div class="scale-box" v-if="state === STATES.STREAMS && embedSrc">
      <div class="content-box">
        <iframe class="video-embed" :src="embedSrc | windowUrl" allowfullscreen></iframe>
      </div>
    </div>

    <div id="select-box" class="invisible-box"></div> <!-- for clipboard functionality -->

    <div id="iframe-box" class="invisible-frame"></div> <!-- for requests with referer -->
    
    <div class="bottom">   opcor.   <a href="#" title="twitter (note: i don't actually ever tweet)" onclick="copyText('https://twitter.com/kyleryanboyle')">by me.</a>   <a href="#" title="github" onclick="copyText('https://github.com/kyle-rb/opcor')">i made this one.</a>   all videos are hosted by someone other than me.   report bugs or whatever <a href="mailto:kyleryanboyle@gmail.com" title="kyleryanboyle@gmail.com" onclick="copyText('kyleryanboyle@gmail.com')">here</a>.   get a fresh download <a href="#" title="this link will get copied to your clipboard" onclick="copyText('https://www.dropbox.com/sh/mba9v5cise41cko/AABOXazb56F9Mof4A_wj3L7fa?dl=0')">here</a></div>
  </div>
</body>
</html>
